body{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

ul{
    display: flex;
}

ul li{
    display: flex;
    margin-right: 20px;
}

ul li a{
    text-decoration: underline;
    color: seashell;

}

ul li a:active{
    scale: 1.02;
}
.logo{
    margin-left: 10px;
    height: 50px;
}


/* BANNERE */



.bannere{
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
    background-position: center;
    background-size: cover;
    height: 700px;
    max-width: 1200px;
    margin: auto ;
    margin-top: 69px;
}

.bannere .container{
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column; 
    height: 100%;
}

.bannere .box{
    background-color: black;
    width: 100%;
    text-align: center;
}

.tea .container{
    margin-top: 5rem;
    text-align: center;
}

.tea .box{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.tea .box .imbox{
    margin: 50px;
    text-align: center;
}



.tea .box .imbox img{
    height: 200px;
    width: 300px;
    object-fit: cover;
}



/* LOCATION */


.location{
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg');
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}


.location .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.location .container > div{
    width: 300px;
    height: 300px;
    background-color: black;
    margin: 40px;
    text-align: center;
    line-height: 50px;
}



/* FOOTER */

.footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.copyright{
    margin-left: 20px;
}
