body{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

ul{
    display: flex;
}

ul li{
    display: flex;
    margin-right: 20px;
}

ul li a{
    text-decoration: underline;
    color: seashell;

}

ul li a:active{
    scale: 1.02;
}
.logo{
    margin-left: 10px;
    height: 50px;
}


/* BANNERE */



.bannere{
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
    background-position: center;
    background-size: cover;
    height: 700px;
    max-width: 1200px;
    margin: auto ;
    margin-top: 69px;
}

.bannere .container{
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column; 
    height: 130vh;
}

.bannere .box{
    background-color: black;
    width: 100%;
    text-align: center;
}

.tea .container{
    margin-top: 5rem;
    text-align: center;
}